Frontend/coverage/clover.xml
Frontend/coverage/coverage-final.json
Frontend/coverage/lcov.info
Frontend/coverage/lcov-report/base.css
Frontend/coverage/lcov-report/block-navigation.js
Frontend/coverage/lcov-report/favicon.png
Frontend/coverage/lcov-report/index.html
Frontend/coverage/lcov-report/prettify.css
Frontend/coverage/lcov-report/prettify.js
Frontend/coverage/lcov-report/sort-arrow-sprite.png
Frontend/coverage/lcov-report/sorter.js
Frontend/coverage/lcov-report/src/components/Table/index.html
Frontend/coverage/lcov-report/src/components/Table/TableHeader.svelte.html
Frontend/coverage/lcov-report/src/components/Table/TableRow.svelte.html
Frontend/coverage/lcov-report/src/components/Table/WithPagination.svelte.html
Frontend/coverage/lcov-report/src/components/Table/WithSearchBox.svelte.html
Frontend/coverage/lcov-report/src/utils/index.html
Frontend/coverage/lcov-report/src/utils/utils.js.html
Frontend/coverage/lcov-report/tests/Table/index.html
Frontend/coverage/lcov-report/tests/Table/PaginationTest.svelte.html
Frontend/coverage/lcov-report/tests/Table/SearchBoxTest.svelte.html
Frontend/coverage/lcov-report/tests/Table/TableHeaderTest.svelte.html
